* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-fundo: #EDF8FF;
    --cor-titulo: #2687E9;
    --cor-rodape: white;
    --cor-fundo-card: white;
    --cor-branca: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-fundo);
    padding: 1rem;
}

.card {
    min-width: fit-content;
    width: 40rem;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 4rem;
    padding-left: 1.5rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    color: var(--cor-branca);
    background-color: var(--cor-titulo);
    font-size: 1.25rem;
    font-weight: 700;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card-body-content {
    display: flex;
    flex-direction: column;
    min-width: 75%;
    padding: 0;
    margin: 0;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    gap: 1rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: var(--var-color-white);
    color: var(--var-color-white);
}

input::placeholder {
    color: #495057;
    font-weight: 600;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    color: #212529;
    font-size: 1rem;
    font-weight: 600;
}
